# Data Science Tools and Ecosystem

<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Matlab

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Matplotlib
4. Scikit-Learn

|Data Science Tools|
|------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expressionto mutiply then add integers.

(3*4)+5

17

In [4]:
# This will convert 200 minutes to houtse by diving by 60.

200/60

3.3333333333333335

# __Objectives__
- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries

## Author
Jingyi Huang